// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Montserrat', sans-serif !default;

$btn-transition-duration: 0.1s !important !default;

.theme--dark.v-navigation-drawer,
.theme--dark.v-app-bar {
  background-color: #232323 !important;
}
.theme--dark.v-application {
  background-color: #2c2c2c !important;
}
.v-application {
  font-family: 'Montserrat', sans-serif;
}
.v-application a {
  color: #fff;
}
.v-btn__content {
  font-weight: 600 !important;
}
.v-expansion-panel-heade {
  font-size: 2rem !important;
}
.theme--dark.v-expansion-panels .v-expansion-panel {
  background-color: #2c2c2c;
}
.v-expansion-panel {
  &::before {
    box-shadow: none !important;
  }
}
