* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  @media (max-width: 1200px) {
    font-size: 50% !important;
  }
  @media (max-width: 700px) {
    font-size: 40% !important;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1.head_text {
  font-weight: 600;
  font-size: 4rem;
}
p.head_desc {
  font-size: 2rem;
}
textarea {
  line-height: 18px !important;
}

.my-btn {
  border-radius: 5px !important;
  transition: all 0.1s ease-in-out !important;
  padding: 10px 32px !important;
  font-size: 16px !important;
  box-shadow: 0px 0px 25px #00000088 !important;
  @media (max-width: 1200px) {
    padding: 8px 26px !important;
    font-size: 12px !important;
  }
  @media (max-width: 800px) {
    padding: 5px 18px !important;
    font-size: 10px !important;
  }
  @media (max-width: 600px) {
    padding: 3px 12px !important;
    font-size: 8px !important;
  }

  &:active,
  &:focus {
    transform: scale(0.98);
  }
}
.container {
  max-width: 1440px !important;
  padding: 0 !important;
}
